<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
 <servlet>
  <servlet-name>test</servlet-name>
    <servlet-class>xinxat.test.ServerTest</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  
 
 
 
  
 <servlet>
  <servlet-name>updateRooms</servlet-name>
    <servlet-class>xinxat.server.UpdateRooms</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>updateRooms</servlet-name>
    <url-pattern>/updateRooms</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>updateDB</servlet-name>
    <servlet-class>xinxat.server.UpdateDB</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>updateDB</servlet-name>
    <url-pattern>/updateDB</url-pattern>
  </servlet-mapping>
  
 <servlet>
    <servlet-name>echoServer</servlet-name>
    <servlet-class>xinxat.server.echoServer</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>echoServer</servlet-name>
    <url-pattern>/echoServer</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Roster</servlet-name>
    <servlet-class>xinxat.server.Roster</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Roster</servlet-name>
    <url-pattern>/roster</url-pattern>
  </servlet-mapping>
  
  
  
   <servlet>
    <servlet-name>Server</servlet-name>
    <servlet-class>xinxat.server.Server</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Server</servlet-name>
    <url-pattern>/messages</url-pattern>
  </servlet-mapping>
  
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Servidor.html</welcome-file>
  </welcome-file-list>

</web-app>
